* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.flextop {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.container1 {
	display: block;
	width: 25%;
	background-color: #FFFF00;
	margin: 0px;
	float: left;
	border-right: solid 1px black;
}

.container1 img {
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20%;
	display: inline;
	border-radius: 50%;

}

.container2 {
	display: block;
	width: 75%;
	margin: 0px;
	padding-top: 2em;
	padding-bottom: 4%;
	float: right;
}

.container2 h1 {
	font-size: 48px;
	margin-left: 1em;
	font-weight: bold;
}

.container2 p {
	font-size: 24px;
	margin-left: 2em;
	font-weight: bold;
}

.container2 hr {
	width: 10%;
	float: left;
	margin-left: 3em;
	color: #FFFF00;
	margin-top: 0px;
}

.flexbottom {

	display: flex;
}

.left {
	display: block;
	width: 25%;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	background-color: #FFFF00;
}

.right {
	display: block;
	width: 75%;
	border-bottom: solid 1px black;
}

.headlines {
	background-color: black;
	color: #FFFF00;
	width: 100%;
	text-align: center;
	display: inline-block;
}

.data {
	font-size: 16px;
	width: 100%;
	padding-left: 30px;
	display: inline-block;
}

.aboutmetext {
	font-size: 16px;
	width: 100%;
	padding: 30px;
	text-align: justify;
	padding-bottom: 90%;
}


.hobpic {
	width: 100%;
	display: inline-block;
	vertical-align: center;
	height: auto;
}

.hobpic img {
	width: 40%;
	height: 40%;
}

.rightsection {
	width: 100%;
	text-align: left;
	background-color: #FFFF00;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

.rightsection img {
	width: 2em;
	display: inline-block;
	float: left;
	margin-left: 2%;
	padding-top: 2%;
	margin-right: 2%;
}

.flexbox {

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
}

.flextext {

	font-size: 16px;
	text-align: left;
	width: 50%;
}

@media screen and (max-width: 680px) {
	.container1 {
		width: 100%;
	}

	.container2 {
		float: none;
		width: 100%;
		display: block;
		padding: 15px;
	}

	.container2 h1 {
		margin-left: 0;
		padding: 5px;
		font-size: 2rem;
	}

	.flextop,
	.flexbottom {
		display: block;
	}

	.left {
		width: 100%;
	}

	.right {
		width: 100%;
	}

	.aboutmetext {
		padding-bottom: 10px;
	}

}